rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
    	//anyone can read (i.e. get images, not list em all)
    	//write is allowed only if 
    	//1. logged in
    	//2. image < 5 MB
    	//3. is an image
    	//4. is not a delete
      allow get: if true;
      allow list: if false;
      allow create:	if request.auth != null
      							&& request.resource.size < 5*1024*1024
      							&& request.resource.contentType.matches('image/.*');
      allow update: if false;
      allow delete: if false;
    }
  }
}
