/* Default styles for larger screens */
.navbar h1 {
    font-size: 24px; /* Default font size */
}

.hamburger-menu {
    display: none; /* Hide hamburger menu by default */
}
.icon{
    display: flex;
    flex-direction: row;
}
.navbar{
    height: 70px;
}
.logo{
    width: 60px;
    color: white;
    padding-left: 10px;
}
/* Media query for small screens */
@media (max-width: 600px) {
    .navbar h1 {
        font-size: 19px; /* Reduce font size on smaller screens */
    }

    .hamburger-menu {
        display: flex; /* Show hamburger menu on small screens */
        cursor: pointer; /* Make it clickable */
    }

    .icon {
        /* flex-direction: column; Stack icons vertically if needed */
        display: none;
    }
}
